.doge {
  width: 100%;
}
.css {{}}

.cate {
  width: 100%;
  height: 100% !important;
}

.doge {
  width: 100%;
  .mini-doge {
    width: 100%;
    .nano-doge {
      width: 100px;
      .atom-doge {
        width: 100%;
      }
    }
  }
}
